<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-default/index.css">
</head>
<body>
<div id="app">

    <el-row>
        <el-col :span="4">
            管理系统
        </el-col>
        <el-col :span="20">
            <el-menu theme="dark" mode="horizontal">
                <el-menu-item index="1">
                    <el-input v-model="value2" icon="search" :on-icon-click="onSubmit"></el-input>
                </el-menu-item>
                <el-menu-item index="2" style="float: right">订单系统</el-menu-item>
                <el-menu-item index="3" style="float: right">物流系统</el-menu-item>
                <el-menu-item index="4" style="float: right">运力情况</el-menu-item>
            </el-menu>
        </el-col>
    </el-row>
    <el-button @click="visible = true">按钮</el-button>
    <el-dialog v-model="visible" title="Hello world">
        <p>欢迎使用 Element</p>
    </el-dialog>
    <el-switch v-model="value1"></el-switch>
    <p>{{value1}}</p>
</div>
</body>
<style type="text/css">
    .el-row, .el-col {
        padding: 0;
        margin: 0;
    }
</style>
<!-- 先引入 Vue -->
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<!-- 引入组件库 -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script>
    var vm = new Vue({
        el: '#app',
        data: function(){
            return {
                visible: false,
                value1: false,
                value2: "",
            }
        },
        methods: {
            onSubmit: function () {
                this.value1 = this.value2;
            }
        }
    })
</script>
</html>