<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-default/index.css">
</head>
<body>
<div id="app">
    <el-row>
        <el-col :span="6"><div class="grid-content bg-purple">
            <el-form :inline="true">
                <el-form-item label="管理系统">
                    <el-input></el-input>
                </el-form-item>
                <el-form-item>
                    <el-button type="primary" @click="onSubmit">搜索</el-button>
                </el-form-item>
            </el-form>
        </div></el-col>
        <el-col :span="18"><div class="grid-content bg-purple-light">
            <el-menu theme="dark" mode="horizontal">
                <el-menu-item index="1">订单系统</el-menu-item>
                <el-menu-item index="2">物流系统</el-menu-item>
                <el-menu-item index="3">运力情况</el-menu-item>
            </el-menu>
        </div></el-col>
    </el-row>
    <el-button @click="visible = true">按钮</el-button>
    <el-dialog v-model="visible" title="Hello world">
        <p>欢迎使用 Element</p>
    </el-dialog>
    <el-switch v-model="value1"></el-switch>
    <p>{{value1}}</p>
</div>
</body>
<!-- 先引入 Vue -->
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<!-- 引入组件库 -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script>
    var vm = new Vue({
        el: '#app',
        data: function(){
            return {
                visible: false,
                value1: false,
            }
        }
    })
</script>
</html>